/* Hard CSS reset in order to give a more uniform appearance across multiple
devices with unknown default formatting options */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #00539F;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of the CSS reset */

.consent-page {
    line-height: 110%;
}

.close-button {
    font-size: 5.0vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* A simple page wrapper that sets default values for an entire page wrapped in
this class */
.page-wrapper {
    margin: 20px auto;
    width: 70%;
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF;
    border: 10px solid #FFD200;
    padding: 85px;
    /*transform: scale(1,1);*/
}

.start {
    margin: 0 auto !important;
    display: table !important;
    float: none;
}

/* Simply make any images take up 100% of the width of their parent element */
img {
    width: 100%;
}

/* Make the label and input font sizes match */
label {
    font-size: 4.0vmin;
}

/* Create a sleek modern blue button that matches the color of the UD logo */
button {
    color: #ffffff;
    font-size: 4.0vmin;
    border-radius: 10px;
    display: block;
    float: right;
    background: #00539f;
    outline: 0;
    border: none;
    padding: 10px;
}

button:hover {
    background: #2268A8;
    cursor: pointer;
}

/* Some default list styles and and bold styles */
ul {
    list-style: disc;
    padding-left: 40px;
}

ol {
    list-style: decimal;
    padding-left: 60px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

a:link, a {
    color: #00539f;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: #00539f;
    text-decoration: underline;
}

a:hover {
    color: #2268A8;
    text-decoration: underline;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px
}

table th:first-child {
    border-top-left-radius: 5px;
}

table th:last-child {
    border-top-right-radius: 5px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    /*
      font-weight: bold;*/
}

.button {
    margin-top: 20px;
}

/* Create a radius to round the corners for a sleeker look and add a drop shadow
to make it even more "modern" looking. Make sure to get rid of any hilighting
outline and redefine what happens when you focus it.*/
input[type=text] {
    font-size: 4.0vmin;
    border: 3px solid #ccc;
    border-radius: 5px;
    /*  box-shadow: 2px 2px 3px #666;*/
    padding: 7px;
    outline: 0;
}

input[type=text]:focus {
    border-color: #00539f;
}

/* Double-sized Checkboxes */
input[type=checkbox] {
    transform: scale(2);
    position: relative;
    top: 4px;
}

input[type=radio] {
    transform: scale(2);
    position: relative;
    top: 4px;
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

/* Create a gradient line break and make it thinner for a sleekr, more modern
look */
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* FIRST PAGE
   Create some spacing between elements on the first page */
.id, .consent, .continue {
    margin-top: 20px;
}

.consent {
    margin-top: 40px;
    margin-bottom: 20px;
}

.consent label {
    line-height: 110%;
}

.consent p {
    text-align: center;
    line-height: 110%;
    font-size: 2.0vmin;
}

#User_ID {
    /*border: 3px solid #FFD200;*/
    font-weight: bold;
    padding: 1em;
    margin: -20em -4em -4em;
}

#id-input {
    width: 60%;
}

/* SECOND PAGE
   Create a warning that grabs the attention of people */
.warning {
    text-align: center;
    font-size: 4.0vmin;
    background: red;
    color: #fff;
    width: 80%;
    border-radius: 5px;
    margin: 10px auto auto;
}

.warning p {
    padding: 10px;
}

.reconnect {
    float: none;
}

/* Set font sizes and add some spacing */
.instructions, .GL, .information, .experiment, .ID, .results {
    font-size: 3.0vmin;
    line-height: 120%;
}

h3 {
    font-size: 4.0vmin;
    font-weight: bold;
    margin-bottom: 20px;
}

.number-selection {
    font-size: 4.0vmin;
}

.veggie-selection, .person, .white, .black, .nonhispanic, .hispanic, .asian, .nativeAmer, .other, .highIncome,
.medianIncome, .lowIncome, .poverty, .definition {
    font-size: 3.0vmin;
}

.veggie-selection h3, .person h3, .white h3, .black h3, .nonhispanic h3, .hispanic h3, .asian h3, .nativeAmer h3, .other h3, .highIncome h3, .medianIncome h3, .lowIncome h3, .poverty h3 {
    text-align: center;
}

.selection-intro {
    font-size: 3.0vmin;
    margin-bottom: 80px;
    line-height: 120%;
}

.veggie-selection input, .person input, .white input, .black input, .nonhispanic input, .hispanic input,
.asian input, .nativeAmer input, .other input, .highIncome input, .medianIncome input, .lowIncome input, .poverty input {
    margin-right: 15px;
    margin-left: 15px;
}

.veggie-selection img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.veggie-selection h2 {
    text-align: left;
    font-size: 2.5vmin;
    position: relative;
    top: -20px;
}

.veggie-selection .half, .person .half, .white .half, .black .half, .nonhispanic .half, .hispanic .half,
.asian .half, .nativeAmer .half, .other .half, .highIncome .half, .medianIncome .half, .lowIncome .half, .poverty .half {
    display: inline-block;
    width: 30%;
    margin: 20px auto auto;
}

.veggie-selection hr {
    color: black;
    background: black none;
    height: 6px;
    width: 100% !important
}

.veggie-selection input[type=radio], .person input[type=radio], .white input[type=radio], .black input[type=radio], .nonhispanic input[type=radio], .hispanic input[type=radio],
.asian input[type=radio], .nativeAmer input[type=radio], .other input[type=radio],
.highIncome input[type=radio], .medianIncome input[type=radio], .lowIncome input[type=radio], .poverty input[type=radio] {
    top: -9px;
    width: 5.0vmin;
    height: 32px;
}

.yesnolabel {
    position: relative;
    display: block;
    top: -8px;
}

.treatment-instructions {
    margin-bottom: 80px;
}

.veggie-list, .donate-list {
    text-align: center;
}

.veggie-list input[type=radio], p {
    display: inline-block;
}

.survey, .survey input[type=text], .survey label {
    font-size: 3.0vmin;
}

.survey input[type=range]{
    width: 20vw;
}

.survey input[type=radio] {
    transform: scale(2);
    position: relative;
    top: -3px;
    width: 16px;
    height: 16px;
}

.survey input[type=text] {
    font-size: 2.5vmin;
}

.survey li {
    margin-bottom: 15px;
}

.radio-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.slider {
    margin-top: 20px;
}

.dice-roll p, .donateRoll p {
    text-align: center;
    line-height: 110%;
    font-size: 4.0vmin;
}

.dice-roll h2, .donateRoll h2 {
    text-align: center;
    font-size: 7.0vmin;
    font-weight: bolder;
    margin-bottom: 20px;
}

.dice-roll input[type=text], .donateRoll input[type=text] {
    display: block;
    text-align: center;
    margin: auto auto 20px;
}

.dice-roll button, .donateRoll button {
    float: none;
    margin: auto;
}

.thank-you, .RealEnd {
    font-size: 3.0vmin;
    text-align: center;
}

.center {
    text-align: center;
}

.slider span {
    position: relative;
    top: -20px;

    font-size: 1.75vw;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #eee;
    border: 1px solid #ccc;
    /*height: 40px;*/
    width: 300px;
    border-radius: 5px;
}

.survey input[type="number"] {
    font-size: 2vw;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
    width: 20px;
    height: 50px;
    cursor: pointer;
    /*  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
      box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);*/
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #337ab7), color-stop(50%, #337ab7), color-stop(51%, #337ab7), color-stop(100%, #337ab7));
}

input[type="range"]:hover ~ #rangevalue, input[type="range"]:active ~ #rangevalue {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: -75px;
}

.row-buttons input[type=radio] {
    margin-left: 10px;
}

.in-row {
    display: inline;
    margin: 0;
}

.in-row-block {
    text-align: center;
}

.temp-image {
    display: inline-block;
    width: auto;
    height: 200px;
}

#reconnect_id {
    margin: 0;
    text-indent: 1em;
}

#reconnect_id, #reconnect_btn {
    display: inline;
    vertical-align: middle;
}
